  // h1 {
  //   color: red;
  // }


  // ボタンのマージン、カードの上下マージン

.Button001 {
  margin-top: 20px;  
  margin-bottom: 20px; 
}

#card-container{
  display: flex;
  gap: 20px;
}

#Bottomnavi{
    margin-top: 20px; 
}